/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #564256;
  --secondary: #FC814A;
}

input, label {
  display: block;
  margin: auto;
  text-align: center;
}

.user-input {
  margin-top: 10em;
}

.center {
  margin: auto;
  text-align: center;
}

ul, li {
  list-style-type: none;
}
