<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 class="center">Trainer</h1>
</nav>
<nav class="container navbar navbar-expand-lg navbar-light bg-light">
  <h4 routerLink="/catalogue" class="center btn btn-outline-dark" role="button">CATALOGUE</h4>
  <h4 role="button" class="center btn btn-outline-danger" (click)="logout()">LOG OUT</h4>
</nav>
<div *ngIf="selectedPokemon.length === 0" class="alert-warning center m-5">
  <h4>You currently have no pokemon selected</h4>
  <p>Go to the catalogue to select pokemon</p>
</div>
<div class="container center mb-2">
  <app-catalogue-item *ngFor="let pokemon of selectedPokemon" [pokemon]="pokemon"></app-catalogue-item>
</div>
