h1 {
	padding: 0;
	margin: 0;
}

h2 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

.header {
	padding: 0.1em;
	background: black;
	color: white;
}

.topRow {
	max-width: 100%;
	height: 40%;
	margin: 1em;
	display: grid;
	grid-template-columns: [first] 25% [second] 25% [third] 25%;
	grid-gap: 10%;
}



.rowBox {
	padding: 0 1em 0 1em;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	grid-row: first;
	display: grid;
	grid-template-columns: [first] auto [second] auto;
	grid-template-rows: [first] auto [second] auto [third] auto [fourth] auto [fifth] auto [sixth] auto [seventh] auto;
	grid-gap: 0.5em;
	background-color: ghostwhite;
}

.bank {
	grid-column: first;
}

.work {
	grid-column: second;
}

.laptops {
	grid-column: third;
}

.title {
	grid-column: first / span 2;
	grid-row: first;
}

.description {
	grid-column: first;
	grid-row: second;
}

.button {
	background-color: greenyellow;
	border: 1px solid black;
	border-radius: 4px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
}

#customerBalance {
	grid-column: second;
	grid-row: second;
	text-align: end;
}

#customerLoanDescription {
	grid-column: first;
	grid-row: third;
	margin-bottom: 3em;
}

#customerLoanBalance {
	grid-column: second;
	grid-row: third;
	text-align: end;
}

#getLoanButton {
	grid-column: first / span 2;
	grid-row: fourth;
}

#payBalance {
	grid-column: second;
	grid-row: second;
	text-align: end;
	margin-bottom: 3em;
}

#workButton {
	grid-column: second;
	grid-row: fourth;
	background-color: blue;
	color: white;
}

#bankButton {
	grid-column: first;
	grid-row: fourth;
	background-color: yellow;
}

#repayLoanButton {
	grid-column: first / span 2;
	grid-row: third;
}

#features {
	grid-row: third;
	grid-column: first / span 2;
}

#laptops-dropdown {
	margin-top: -0.5em;
}

#spec0 {
	grid-row: fourth;
	grid-column: first / span 2;
}

#spec1 {
	grid-row: fifth / span 2;
	grid-column: first / span 2;
}

#spec2 {
	grid-row: seventh;
	grid-column: first / span 2;
}

.divider {
	height: 10px;
	width: 100%;
}

.secondRow {
	align-items: center;
	margin: 2em;
	margin-right: 3.5em;
	max-width: 100%;
	height: 50%;
	background-color:ghostwhite;
	border-radius: 10px;
	display: grid;
	grid-template-columns: [first] 1fr [second] 2fr [third] 1fr;
}

#computerImage {
	margin: 2em 0 0 2em;
	border-radius: 10px;
	max-width: 90%;
	grid-column: first;
}

.computerDescription {
	text-align: center;
	margin: 1em 1em 0 1em;
}

#price {
	text-align: center;
	grid-column: first / span 2;
	grid-row: third;
}

#buyButton {
	background-color: rgb(80, 127, 255);
	margin: 0 2em 0 2em;
	grid-column: first / span 2;
	grid-row: fourth;
}

