.catalogue-item {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  background-color: var(--primary);
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
  margin: 0.5em;
  text-align: center;
  box-shadow: 2px 2px lightgray;
  color: white;
  justify-content: center;
  align-items: center;
}

.catalogue-item:hover {
  background-color: var(--secondary);
  color: black;
}

.catalogue-item__image {
  display: block;
  margin: 0 auto;
}

.poke-ball {
  display: block;
  margin: 0 auto;
}
