* {
    font-family: 'Kaisei Opti', serif
}

#root {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background-color: #ffbbbb;
}

html {
    background-color: #ffbbbb;
    margin-bottom: 10em;
}

.primary {
    background-color: antiquewhite;
    color: antiquewhite;
}

.secondary {
    background-color: #ffbbbb;
    color: #ffbbbb;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kaisei Opti', serif;
    text-align: center;
    color: black;
}


.space {
    height: 2vh;
}

.lg-space {
    height: 4vh;
}