// This component displays an option to a quiz-question.
// When clicked, this component adds the selected answer to Vuex Store's answers. 
<template>
    <div class="answer" align="center" @click="selectAsAnswer">
        <h4><span v-html="answer"></span></h4>
    </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
    name: "Option",
    props: {
        answer: String,
        correct: Boolean,
    },
    methods: {
        ...mapMutations(["setAnswer"]),
        selectAsAnswer() {
            console.log("set answer");
            if (this.correct) {
                console.log("Correct answer");
            }
            this.setAnswer(this.answer);
        },
    },
};
</script>

<style scoped>
.answer {
    background-color: rgb(202, 201, 197);
    width: 100%;
    height: 100%;
    padding: 3rem;
}

.true {
    background-color: rgb(65, 241, 30);
}

.answer:hover {
    background-color: rgb(16, 141, 214);
}
</style>