// This component lets user choose different metrics. 
// These metrics are stored in Vuex. When the user clicks "Start", 
// if all necessairy conditions are met - the user is routed to the QuestionScreen component,
// which in turn collects necessairy information from Vuex store.

<template>
    <div class="container">
        <h1 class="display-1 title">Welcome!</h1>
        <div class="centered-line"></div>
        <div class="row">
            <div class="col-5">
                <h4 class="display-6">Select Difficulty:</h4>
            </div>
            <div
                v-for="difficulty of difficulties"
                class="col"
                align="center"
                :key="difficulty"
            >
                <button
                    v-if="selectedDifficulty === difficulty"
                    :class="active"
                    :key="difficulty"
                >
                    {{ difficulty.toUpperCase() }}
                </button>

                <button
                    v-else
                    @click="setSelectedDifficulty(difficulty)"
                    :class="passive"
                >
                    {{ difficulty.toUpperCase() }}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <h4 class="display-6">Number of questions:</h4>
            </div>
            <div class="col" align="center">
                <input type="number" min="1" @change="setNumberOfQuestions" />
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <h4 class="display-6">Select category:</h4>
            </div>
            <div class="col categories" align="center">
                <div v-if="loading">Loading...</div>
                <div v-else>
                    <select label="categories" v-model="selectedCategory">
                        <option
                            v-for="category of categories"
                            :value="category.id"
                            :key="category.id"
                            :selected="setCategory"
                        >
                            {{ category.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5"></div>
            <div class="col" align="center">
                <button
                    class="btn btn-lg btn-primary startBtn"
                    @click="startQuiz"
                >
                    START
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "StartScreen",
    async created() {
        try {
            this.loading = true;
            await this.updateCategories();
            this.categories = this.getCategories();
            this.loading = false;
        } catch (e) {
            this.error = e.message;
        }
    },
    data() {
        return {
            error: "",
            questions: [],
            categories: [],
            difficulties: ["easy", "medium", "hard"],
            active: "btn btn-primary",
            passive: "btn btn-outline-dark",
            loading: false,
            selectedDifficulty: "",
            numberOfQuestions: 0,
            selectedCategory: "",
        };
    },
    methods: {
        ...mapActions([
            "updateQuestions",
            "updateCategories",
            "updateSelectedCategory",
            "updateDifficulty",
            "updateNumberOfQuestions",
        ]),
        ...mapGetters([
            "getQuestions",
            "getCategories",
            "getSelectedDifficulty",
            "getSelectedCategory",
            "getNumberOfQuestions",
        ]),
        setSelectedDifficulty(key) {
            this.selectedDifficulty = key;
        },
        setNumberOfQuestions(event) {
            if (event.target.value > 0) {
                this.numberOfQuestions = event.target.value;
            }
        },
        setCategory(category) {
            this.selectedCategory = category.id;
        },
        async startQuiz() {
            if (
                this.getSelectedDifficulty() &&
                this.getNumberOfQuestions() &&
                this.getSelectedCategory()
            ) {
                await this.updateQuestions();
                this.$router.push(`/question/0`);
            }
        },
    },
    watch: {
        selectedCategory() {
            this.updateSelectedCategory(this.selectedCategory);
        },
        numberOfQuestions() {
            this.updateNumberOfQuestions(this.numberOfQuestions);
        },
        selectedDifficulty() {
            this.updateDifficulty(this.selectedDifficulty);
        },
    },
};
</script>

<style>
#app {
    margin-top: 60px;
}
.title {
    text-align: center;
}

input {
    height: 100%;
    width: 16%;
}

.categories {
    width: 100%;
    padding: 1.5rem;
}

select {
    max-width: 80%;
}

.startBtn {
    min-width: 75%;
}

.centered-line {
    margin: 2em auto 2em auto;
    border: 1px solid black;
    width: 50%;
}
</style>