<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 class="center">Login to your pokemon-trainer account</h1>
</nav>
<form #loginForm="ngForm" class="container user-input" align="center" (ngSubmit)="onSubmit(loginForm)">
  <fieldset class="center">
    <label class="form-label center" for="username">Enter your name</label>
    <input class="form-control mt-3 center"
           type="text"
           id="username"
           name="username"
           ngModel #username="ngModel"
           required
           minlength="4"
           placeholder="">
  </fieldset>
  <button type="submit" class="btn btn-primary mt-3" [disabled]="loginForm.invalid">SUBMIT</button>
</form>
